{% load static %}
<footer class="footer footer-style-two pt-200 bg_img pos-rel" data-bg-color="#0c111d">
    <div class="container">
        <div class="xb-footer pt-120">
            <div class="footer-info ul_li_between">
                <div class="info-item ul_li">
                    <div class="xb-item--icon">
                        <span><img src="{% static 'assets/img/icon/sms-white.svg' %}" alt=""></span>
                    </div>
                    <div class="xb-item--holder">
                        <p class="xb-item--content">Escreva para nós</p>
                        <h4 class="xb-item--title">codeimpact9@gmail.com</h4>
                    </div>
                </div>
                <div class="info-item ul_li">
                    <div class="xb-item--icon clr-blue">
                        <span><img src="{% static 'assets/img/icon/call-white.svg' %}" alt=""></span>
                    </div>
                    <div class="xb-item--holder">
                        <p class="xb-item--content">Ligue para nós (AO)</p>
                        <h4 class="xb-item--title">+244 923-908-353</h4>
                    </div>
                </div>
                <div class="info-item ul_li">
                    <div class="xb-item--icon clr-sky">
                        <span><img src="{% static 'assets/img/icon/location.svg' %}" alt=""></span>
                    </div>
                    <div class="xb-item--holder">
                        <p class="xb-item--content">Nosso escritório</p>
                        <h4 class="xb-item--title">Angola, Viana, zango 0</h4>
                    </div>
                </div>
            </div>
            <div class="footer-inner mt-70 mb-100 ul_li_between align-items-start">
                <div class="sa-newslatter footer-widget">
                    <span class="xb-item--sub-title">Newsletter</span>
                    <p class="xb-item--content clr-white">Inscreva-se na newsletter semanal da Code Impact para receber as últimas atualizações.</p>
                    <div class="xb-item--input_field pos-rel">
                        <input type="email" name="gmail" id="text6" placeholder="digite seu e-mail">
                        <div class="img"><img src="{% static 'assets/img/icon/sms02.svg' %}" alt=""></div>
                        <button type="submit" class="xb-item--btn"><i class="fas fa-paper-plane"></i></button>
                    </div>
                    <span class="xb-item--text">Ao continuar, você concorda com os <a href="terms-conditions.html">Termos</a> de uso e com a <a href="privacy-policy.html">Política de Privacidade</a> da Code Impact</span>
                </div>
                <div class="footer-widget">
                    <span class="xb-item--sub-title">Empresa</span>
                    <ul class="xb-item--holder list-unstyled">
                        <li class="xb-item--list"><a href="index.html#!">Quem Somos</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Entre em Contato</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Planos e Preços</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Blog e Artigos</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Nosso Time</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Histórias de Sucesso</a></li>
                    </ul>
                    
                </div>
                <div class="footer-widget">
                    <span class="xb-item--sub-title">Nossos serviços</span>
                    <ul class="xb-item--holder list-unstyled">
                        <li class="xb-item--list"><a href="index.html#!">Desenvolvimento de Software</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Consultoria de Tecnologia</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Design de Produtos</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Marketing Digital</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Desenvolvimento Web</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Suporte Técnico</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Aulas Particulares</a></li>
                    </ul>
                    
                </div>
                <div class="footer-widget">
                    <span class="xb-item--sub-title">Nossas Indústrias</span>
                    <ul class="xb-item--holder list-unstyled">
                        <li class="xb-item--list"><a href="index.html#!">Saúde</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Advogados</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Imobiliária</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Seguros</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Cripto</a></li>
                        <li class="xb-item--list"><a href="index.html#!">Automotivo</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright mt-70 ul_li_between">
                <p class="copyright mt-20">Copyright © 2023 <a href="index.html">Code Impact</a>. Todos os direitos reservados.</p>
                <ul class="footer-link ul_li mt-20">
                    <li><span>Siga-nos :</span></li>
                    <li><a href="index.html#!"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="index.html#!"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="index.html#!"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="index.html#!"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>