{% load static %}
<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<script src="{% static 'assets/js/gsap.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>
<script src="{% static 'assets/js/parallaxie.js' %}"></script>
<script src="{% static 'assets/js/parallax-scroll.js' %}"></script>
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/cursor-bundle.js' %}"></script>
<script src="{% static 'assets/js/easing.min.js' %}"></script>
<script src="{% static 'assets/js/scrollspy.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
